
*.json
*.json
*.xml
*.iml
*.iml
*.json
*.json
*.yaml
hw02/hw/02/cpp/cmake-build-debug/.cmake/api/v1/query/cache-v2
*.bin
*.marks
*.cbp
*.ts
hw02/hw/02/cpp/cmake-build-debug/Makefile
hw02/hw/02/cpp/cmake-build-debug/CMakeFiles/cjdemo.dir/link.txt
*.make
hw02/hw/02/cpp/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
hw02/hw/02/cpp/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
hw02/hw/02/cpp/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
hw02/hw/02/cpp/cmake-build-debug/CMakeCache.txt
hw02/hw/02/cpp/cmake-build-debug/CMakeFiles/3.26.3/CMakeCXXCompiler.cmake
hw02/hw/02/cpp/cmake-build-debug/CMakeFiles/3.26.3/CompilerIdC/a.out
hw02/hw/02/cpp/cmake-build-debug/CMakeFiles/3.26.3/CompilerIdCXX/a.out
hw02/hw/02/cpp/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
hw02/hw/02/cpp/cmake-build-debug/CMakeFiles/Makefile.cmake
hw02/hw/02/cpp/cmake-build-debug/CMakeFiles/Makefile2
hw02/hw/02/cpp/cmake-build-debug/CMakeFiles/clion-environment.txt
